
.scenario{
    color:blue;
    font-weight:bold;
    margin-left: 35px;
}

.feature{
    color:red;
    font-weight:bold;
}

.example{
    color:blue;
    margin-left: 70px;
}

.table{
    color:brown;
    margin-left: 100px;
	table-layout: fixed;
}

.tableText{
    white-space: nowrap
}

.tableHeader{
    color:black;
	white-space: nowrap;
	font-style:italic;
}

.comment{
    color:green;
    margin-left: 20px;
}

.tags{
    color:#0094ff;
    margin-left: 35px;
}

body
{
    font-family:"Calibri";
}

h1 {
    display: block;
    font-weight:normal;
}

h2
{
    display: block;
    font-weight:normal;
}

h3
{
    display: block;
    font-weight:normal;
    margin-bottom: 5px;
}